
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,600&display=swap');
      </style>
    
  <style>
    .gps-495965046589883273 .-rotate-90,.gps-495965046589883273 .rotate-180,.gps-495965046589883273 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-495965046589883273 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-495965046589883273 .invisible{visibility:hidden}.gps-495965046589883273 .absolute{position:absolute}.gps-495965046589883273 .relative{position:relative}.gps-495965046589883273 .z-1{z-index:1}.gps-495965046589883273 .mx-auto{margin-left:auto;margin-right:auto}.gps-495965046589883273 .mb-0{margin-bottom:0}.gps-495965046589883273 .block{display:block}.gps-495965046589883273 .flex{display:flex}.gps-495965046589883273 .inline-flex{display:inline-flex}.gps-495965046589883273 .grid{display:grid}.gps-495965046589883273 .hidden{display:none}.gps-495965046589883273 .h-5{height:20px}.gps-495965046589883273 .h-6{height:24px}.gps-495965046589883273 .h-full{height:100%}.gps-495965046589883273 .w-5{width:20px}.gps-495965046589883273 .w-6{width:24px}.gps-495965046589883273 .w-full{width:100%}.gps-495965046589883273 .max-w-full{max-width:100%}.gps-495965046589883273 .shrink-0{flex-shrink:0}.gps-495965046589883273 .-rotate-90{--tw-rotate:-90deg}.gps-495965046589883273 .-rotate-90,.gps-495965046589883273 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-495965046589883273 .rotate-180{--tw-rotate:180deg}.gps-495965046589883273 .rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@keyframes spin{to{transform:rotate(1turn)}}.gps-495965046589883273 .animate-spin{animation:spin 1s linear infinite}.gps-495965046589883273 .cursor-pointer{cursor:pointer}.gps-495965046589883273 .flex-row-reverse{flex-direction:row-reverse}.gps-495965046589883273 .flex-col{flex-direction:column}.gps-495965046589883273 .items-center{align-items:center}.gps-495965046589883273 .justify-center{justify-content:center}.gps-495965046589883273 .gap-y-0{row-gap:0}.gps-495965046589883273 .overflow-hidden{overflow:hidden}.gps-495965046589883273 .overflow-clip{overflow:clip}.gps-495965046589883273 .break-words{overflow-wrap:break-word}.gps-495965046589883273 .rounded-none{border-radius:0}.gps-495965046589883273 .border{border-width:1px}.gps-495965046589883273 .leading-\[0\]{line-height:0}.gps-495965046589883273 .text-g-line-3{color:var(--g-c-line-3)}.gps-495965046589883273 .text-g-text-3{color:var(--g-c-text-3)}.gps-495965046589883273 .no-underline{text-decoration-line:none}.gps-495965046589883273 .opacity-25{opacity:.25}.gps-495965046589883273 .opacity-75{opacity:.75}.gps-495965046589883273 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965046589883273 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965046589883273 .duration-200{transition-duration:.2s}.gps-495965046589883273 .duration-300{transition-duration:.3s}.gps-495965046589883273 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965046589883273 .disabled\:btn-disabled:disabled{cursor:default}.gps-495965046589883273 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-495965046589883273 .disabled\:opacity-30:disabled{opacity:.3}.gps-495965046589883273 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-495965046589883273 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-495965046589883273 .\[\&\>svg\]\:\!h-\[var\(--height\)\]>svg{height:var(--height)!important}.gps-495965046589883273 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-495965046589883273 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-495965046589883273 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-495965046589883273 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-495965046589883273 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-495965046589883273 .\[\&_p\]\:inline p{display:inline}.gps-495965046589883273 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-495965046589883273 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-495965046589883273 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gzfgT-i3pX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzfgT-i3pX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZanfDAeMc relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g16CxVgWVw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g16CxVgWVw mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcHS2e_H4p relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gfUJxt6yjw "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;word-break:break-word"
        >
        <p>Frequently Asked Questions</p>
        </h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g98OL4zxVe"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:550px;--w-tablet:550px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g98OL4zxVe mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g06usawIky relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g64GMX4AKD "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Need help finding an answer to your question? Ask our customer support at <strong>support@gempages.net.</strong></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mr:auto" class="gO4g2uEaWz ">
      
    <gp-accordion
     uid="gO4g2uEaWz"
      class="flex w-full flex-col "
      style="--gg:16px;--gg-mobile:14px"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gO4g2uEaWz","childListNumber":["0"]},"styles":{"bgColor":{"normal":"#FAFBFC"},"color":{"normal":"#242424"},"headerBorder":{"normal":{"border":"solid","borderLabel":"None","borderType":"none","borderWidth":"0","color":"transparent","isCustom":true,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"32px","vertical":"32px"},"mobile":{"horizontal":"28px","vertical":"28px"},"tablet":{"horizontal":"32px","vertical":"32px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"gap":"14px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"32px","right":"32px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"28px","right":"28px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"32px","right":"32px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"770px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}},"uid":"gO4g2uEaWz"}'
    >
    <div class="hidden rotate-90 -rotate-90 rotate-180"></div>
    <div
                class="flex"
                style="--jc:center;--jc-tablet:left;--jc-mobile:left"
              >
                
  <div class="overflow-clip" style="--w:770px;--w-tablet:730px;--w-mobile:100%;--height:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="0"
      class="gO4g2uEaWz gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        uid="gwjABFJRyJ"
        data-index="0"
        class="gO4g2uEaWz gp-accordion-item-gO4g2uEaWz-0 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FAFBFC;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--c:#242424"
      >
       <style class="accordion-style">.gp-accordion-item-gO4g2uEaWz-0:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="0"
            class="gO4g2uEaWz gp-accordion-item_icon gp-collapsible-icon -rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height)] [&>svg]:!w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        How does GemSleep help you sleep?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gwjABFJRyJ"
        data-index="0"
        class="gO4g2uEaWz gp-accordion-item_body block"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gM2Vojpk3K relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gkP11oElkU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkP11oElkU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyrnS3ceNw relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gtVjyxiYqh "
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--pt:var(--g-s-l);--mt-mobile:-14px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center;--jc-tablet:left;--jc-mobile:left"
              >
                
  <div class="overflow-clip" style="--w:770px;--w-tablet:730px;--w-mobile:100%;--height:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="1"
      class="gO4g2uEaWz gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        uid="gLIO8eifkx"
        data-index="1"
        class="gO4g2uEaWz gp-accordion-item-gO4g2uEaWz-1 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FAFBFC;--c:#242424;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gO4g2uEaWz-1:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="1"
            class="gO4g2uEaWz gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height)] [&>svg]:!w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        What are the common side effects of GemSleep?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gLIO8eifkx"
        data-index="1"
        class="gO4g2uEaWz gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gQkvUFWaeH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g1WY26CsGq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1WY26CsGq mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOp1S69UXL relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gUGkT-_s_G "
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--pt:var(--g-s-l);--mt-mobile:-14px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center;--jc-tablet:left;--jc-mobile:left"
              >
                
  <div class="overflow-clip" style="--w:770px;--w-tablet:730px;--w-mobile:100%;--height:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="2"
      class="gO4g2uEaWz gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        uid="g7e2jPnPq-"
        data-index="2"
        class="gO4g2uEaWz gp-accordion-item-gO4g2uEaWz-2 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FAFBFC;--c:#242424;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gO4g2uEaWz-2:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="2"
            class="gO4g2uEaWz gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height)] [&>svg]:!w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        Does GemSleep make me feel groggy the next day?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g7e2jPnPq-"
        data-index="2"
        class="gO4g2uEaWz gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gOlOirPwrc relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gupptpPXi6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gupptpPXi6 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gafrEFQwoB relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gRQggGLJCT "
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--pt:var(--g-s-l);--mt-mobile:-14px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center;--jc-tablet:left;--jc-mobile:left"
              >
                
  <div class="overflow-clip" style="--w:770px;--w-tablet:730px;--w-mobile:100%;--height:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="3"
      class="gO4g2uEaWz gp-accordion-item overflow-hidden"
    >
      <div
        aria-hidden
        uid="gDB8cto3NY"
        data-index="3"
        class="gO4g2uEaWz gp-accordion-item-gO4g2uEaWz-3 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FAFBFC;--c:#242424;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gO4g2uEaWz-3:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="3"
            class="gO4g2uEaWz gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height)] [&>svg]:!w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        Can I take GemSleep gummies every night?
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gDB8cto3NY"
        data-index="3"
        class="gO4g2uEaWz gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="g51LK9zQna relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="grY2tXja2F"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grY2tXja2F mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRVzUIzJ0O relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="ga10euO3lN "
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-16px;--pt:var(--g-s-l);--mt-mobile:-14px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>
      
      
    <div
      parentTag="Col" id="gqhnF2SAIH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqhnF2SAIH mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGxEc571Pq relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-button.js" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"right","iconSvg":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" className=\"w-6 h-6\"  viewBox=\"0 0 512 512\" fill=\"currentColor\"> \t<path fill=\"#FBC435\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"#FBC435\" d=\"M512 199.652c0 23.625-20.65 43.826-44.8 43.826h-99.851c16.34 17.048 18.346 49.766-6.299 70.944 14.288 22.829 2.147 53.017-16.45 62.315C353.574 425.878 322.654 448 272 448c-2.746 0-13.276-.203-16-.195-61.971.168-76.894-31.065-123.731-38.315C120.596 407.683 112 397.599 112 385.786V214.261l.002-.001c.011-18.366 10.607-35.889 28.464-43.845 28.886-12.994 95.413-49.038 107.534-77.323 7.797-18.194 21.384-29.084 40-29.092 34.222-.014 57.752 35.098 44.119 66.908-3.583 8.359-8.312 16.67-14.153 24.918H467.2c23.45 0 44.8 20.543 44.8 43.826zM96 200v192c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V200c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24zM68 368c0-11.046-8.954-20-20-20s-20 8.954-20 20 8.954 20 20 20 20-8.954 20-20z\" /> </svg>","iconVisible":true,"label":"REVEAL OFFER"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-3xl);--ta:center"
    class=""
  >
    <style>
    .gQJifavmTb.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gQJifavmTb:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gQJifavmTb" aria-label="REVEAL OFFER"
      data-state="idle"
      class="gQJifavmTb gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse text-g-text-3"
      style="--hvr-bg:#473FA8;--bg:#322B85;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:2.4492935982947064e-16px 4px 8px 0px rgba(0, 0, 0, 0.25);--c:var(--g-c-text-3, text-3);--w:468px;--w-tablet:468px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--tt:default;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:16px;--lh-mobile:130%"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> 	<path fill="#FBC435" strokeLinecap="round" strokeLinejoin="round" fill="#FBC435" d="M512 199.652c0 23.625-20.65 43.826-44.8 43.826h-99.851c16.34 17.048 18.346 49.766-6.299 70.944 14.288 22.829 2.147 53.017-16.45 62.315C353.574 425.878 322.654 448 272 448c-2.746 0-13.276-.203-16-.195-61.971.168-76.894-31.065-123.731-38.315C120.596 407.683 112 397.599 112 385.786V214.261l.002-.001c.011-18.366 10.607-35.889 28.464-43.845 28.886-12.994 95.413-49.038 107.534-77.323 7.797-18.194 21.384-29.084 40-29.092 34.222-.014 57.752 35.098 44.119 66.908-3.583 8.359-8.312 16.67-14.153 24.918H467.2c23.45 0 44.8 20.543 44.8 43.826zM96 200v192c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V200c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24zM68 368c0-11.046-8.954-20-20-20s-20 8.954-20 20 8.954 20 20 20 20-8.954 20-20z" /> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        REVEAL OFFER
      </span>
    </button>
  </div>
  </gp-button>
  <div style="" class="ghAGV6ymPp ">
      
    
    <div
      uid="ghAGV6ymPp"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-s);--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:auto"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:var(--g-s-xs)"
    >
    <div
      
      style=""
      class="gvvP4iUlIS relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g3U3UuJVAp"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)] text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="gMY3GDeJQu relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gRsA2nsUmT "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>30 day money back guarantee</p>
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-495965046589883273 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c4e72d-3/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=495958189020283785&sectionId=495965046589883273)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
