
  
  
  <style>
    .gps-495965043133777032 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-495965043133777032 .invisible{visibility:hidden}.gps-495965043133777032 .absolute{position:absolute}.gps-495965043133777032 .relative{position:relative}.gps-495965043133777032 .z-1{z-index:1}.gps-495965043133777032 .mx-auto{margin-left:auto;margin-right:auto}.gps-495965043133777032 .mb-0{margin-bottom:0}.gps-495965043133777032 .flex{display:flex}.gps-495965043133777032 .inline-flex{display:inline-flex}.gps-495965043133777032 .grid{display:grid}.gps-495965043133777032 .h-5{height:20px}.gps-495965043133777032 .h-full{height:100%}.gps-495965043133777032 .w-5{width:20px}.gps-495965043133777032 .max-w-full{max-width:100%}.gps-495965043133777032 .shrink-0{flex-shrink:0}@keyframes spin{to{transform:rotate(1turn)}}.gps-495965043133777032 .animate-spin{animation:spin 1s linear infinite}.gps-495965043133777032 .flex-col{flex-direction:column}.gps-495965043133777032 .items-center{align-items:center}.gps-495965043133777032 .justify-center{justify-content:center}.gps-495965043133777032 .gap-y-0{row-gap:0}.gps-495965043133777032 .overflow-hidden{overflow:hidden}.gps-495965043133777032 .break-words{overflow-wrap:break-word}.gps-495965043133777032 .rounded-none{border-radius:0}.gps-495965043133777032 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-495965043133777032 .no-underline{text-decoration-line:none}.gps-495965043133777032 .opacity-25{opacity:.25}.gps-495965043133777032 .opacity-75{opacity:.75}.gps-495965043133777032 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965043133777032 .duration-200{transition-duration:.2s}.gps-495965043133777032 .duration-300{transition-duration:.3s}.gps-495965043133777032 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965043133777032 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-495965043133777032 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}}.gps-495965043133777032 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-495965043133777032 .disabled\:opacity-30:disabled{opacity:.3}.gps-495965043133777032 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-495965043133777032 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-495965043133777032 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-495965043133777032 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-495965043133777032 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-495965043133777032 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-495965043133777032 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-495965043133777032 .\[\&_p\]\:inline p{display:inline}.gps-495965043133777032 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-495965043133777032 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-495965043133777032 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gMS8CFuanL"
        style="--b:solid;--bc:#EEEEEE;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:60px;--pl:15px;--pb:60px;--pr:15px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMS8CFuanL mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcJ-jtkzpN relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gdeqpwcnK3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdeqpwcnK3 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g52zsPuAhW relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYfraJHpKB "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb-tablet:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        ><p>Copyright © 2022 GemSleeps. All Rights Reserved.</p></div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfAzwxEeq4 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3auARjvjU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3auARjvjU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUX3QJJuQt relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"#","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg width=\"10\" height=\"10\" viewBox=\"0 0 10 10\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z\" fill=\"#575757\"/> </svg>","iconVisible":true,"label":"Refund policy"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gJjeQPk4AH.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gJjeQPk4AH:hover::before {
      
      
    }
  </style>
    <a
      href="#" target="_self" data-id="gJjeQPk4AH" aria-label="Refund policy"
      data-state="idle"
      class="gJjeQPk4AH gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:transparent;--bg:transparent;--c:#575757;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z" fill="#575757"/> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Refund policy
      </span>
    </a>
  </div>
  </gp-button>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8wOcOnpVc relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"#","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg width=\"10\" height=\"10\" viewBox=\"0 0 10 10\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z\" fill=\"#575757\"/> </svg>","iconVisible":true,"label":"Terms of service"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--ta:left"
    class=""
  >
    <style>
    .g8ILjgFtK4.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g8ILjgFtK4:hover::before {
      
      
    }
  </style>
    <a
      href="#" target="_self" data-id="g8ILjgFtK4" aria-label="Terms of service"
      data-state="idle"
      class="g8ILjgFtK4 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:transparent;--bg:transparent;--c:#575757;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z" fill="#575757"/> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Terms of service
      </span>
    </a>
  </div>
  </gp-button>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRLktbr3He relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"#","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg width=\"10\" height=\"10\" viewBox=\"0 0 10 10\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z\" fill=\"#575757\"/> </svg>","iconVisible":true,"label":"Privacy policy"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gdq0blFzKa.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gdq0blFzKa:hover::before {
      
      
    }
  </style>
    <a
      href="#" target="_self" data-id="gdq0blFzKa" aria-label="Privacy policy"
      data-state="idle"
      class="gdq0blFzKa gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:transparent;--bg:transparent;--c:#575757;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z" fill="#575757"/> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Privacy policy
      </span>
    </a>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"https://seal-commerce-asia.myshopify.com/pages/click-thru-landing-page-gemsleep#gKtGs3SrFs","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg width=\"48\" height=\"48\" viewBox=\"0 0 48 48\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M23.9995 29.5012C24.1819 29.5012 24.3567 29.4288 24.4857 29.2999C24.6146 29.1709 24.687 28.9961 24.687 28.8137V20.8484L27.6378 23.8005C27.7017 23.8644 27.7776 23.9151 27.8611 23.9497C27.9446 23.9843 28.0341 24.0021 28.1245 24.0021C28.2149 24.0021 28.3044 23.9843 28.388 23.9497C28.4715 23.9151 28.5474 23.8644 28.6113 23.8005C28.6752 23.7366 28.7259 23.6607 28.7605 23.5772C28.7951 23.4936 28.8129 23.4041 28.8129 23.3137C28.8129 23.2233 28.7951 23.1338 28.7605 23.0503C28.7259 22.9668 28.6752 22.8909 28.6113 22.827L24.4863 18.702C24.4224 18.638 24.3465 18.5872 24.263 18.5525C24.1795 18.5178 24.09 18.5 23.9995 18.5C23.9091 18.5 23.8196 18.5178 23.736 18.5525C23.6525 18.5872 23.5766 18.638 23.5128 18.702L19.3878 22.827C19.2587 22.9561 19.1862 23.1312 19.1862 23.3137C19.1862 23.4963 19.2587 23.6714 19.3878 23.8005C19.5169 23.9296 19.692 24.0021 19.8745 24.0021C20.0571 24.0021 20.2322 23.9296 20.3613 23.8005L23.312 20.8484V28.8137C23.312 28.9961 23.3845 29.1709 23.5134 29.2999C23.6423 29.4288 23.8172 29.5012 23.9995 29.5012Z\" fill=\"#242424\"/> <rect x=\"0.5\" y=\"0.5\" width=\"47\" height=\"47\" rx=\"5.5\" stroke=\"#242424\"/> </svg>","iconVisible":true,"label":""}}' style="--bottom:42px;--bottom-mobile:62px;--bottom-tablet:42px;--pos:fixed;--right:15px;--right-mobile:15px;--right-tablet:15px;--z:9999">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .g8FbOSNSGK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .g8FbOSNSGK:hover::before {
      
      
    }
  </style>
    <a
      href="https://seal-commerce-asia.myshopify.com/pages/click-thru-landing-page-gemsleep#gKtGs3SrFs" target="_self" data-id="g8FbOSNSGK" aria-label
      data-state="idle"
      class="g8FbOSNSGK gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-bg-3 bg-g-bg-3"
      style="--hvr-bg:var(--g-c-bg-3, bg-3);--bg:var(--g-c-bg-3, bg-3);--radius:var(--g-radius-small);--c:#242424;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--size:48px;--lh:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size-tablet:48px;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:400;--size-mobile:48px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:400"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9995 29.5012C24.1819 29.5012 24.3567 29.4288 24.4857 29.2999C24.6146 29.1709 24.687 28.9961 24.687 28.8137V20.8484L27.6378 23.8005C27.7017 23.8644 27.7776 23.9151 27.8611 23.9497C27.9446 23.9843 28.0341 24.0021 28.1245 24.0021C28.2149 24.0021 28.3044 23.9843 28.388 23.9497C28.4715 23.9151 28.5474 23.8644 28.6113 23.8005C28.6752 23.7366 28.7259 23.6607 28.7605 23.5772C28.7951 23.4936 28.8129 23.4041 28.8129 23.3137C28.8129 23.2233 28.7951 23.1338 28.7605 23.0503C28.7259 22.9668 28.6752 22.8909 28.6113 22.827L24.4863 18.702C24.4224 18.638 24.3465 18.5872 24.263 18.5525C24.1795 18.5178 24.09 18.5 23.9995 18.5C23.9091 18.5 23.8196 18.5178 23.736 18.5525C23.6525 18.5872 23.5766 18.638 23.5128 18.702L19.3878 22.827C19.2587 22.9561 19.1862 23.1312 19.1862 23.3137C19.1862 23.4963 19.2587 23.6714 19.3878 23.8005C19.5169 23.9296 19.692 24.0021 19.8745 24.0021C20.0571 24.0021 20.2322 23.9296 20.3613 23.8005L23.312 20.8484V28.8137C23.312 28.9961 23.3845 29.1709 23.5134 29.2999C23.6423 29.4288 23.8172 29.5012 23.9995 29.5012Z" fill="#242424"/> <rect x="0.5" y="0.5" width="47" height="47" rx="5.5" stroke="#242424"/> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        
      </span>
    </a>
  </div>
  </gp-button>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-495965043133777032 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c4e72d-3/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=495958189020283785&sectionId=495965043133777032)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
